<div ng-controller="rolePermission-update-Ctrl">
	<form name="rolePermissionForm"  class="form-horizontal" novalidate>
		<div class="form-group">
			<label for="text" class="col-sm-3 control-label">名称</label>
			<div class="col-sm-8">
				<input ng-model="permissionForm.text" class="form-control" id="text" name="text" required>
				<span
					ng-show="rolePermissionForm.text.$dirty && rolePermissionForm.text.$error.required"
					class="text-danger">必填项</span> 
			</div>
		</div>
		<div class="form-group">
			<label for="sref" class="col-sm-3 control-label">权限代码</label>
			<div class="col-sm-8">
				<input ng-model="permissionForm.sref" class="form-control" id="sref" name="sref" required>
				<span
					ng-show="rolePermissionForm.sref.$dirty && rolePermissionForm.sref.$error.required"
					class="text-danger">必填项</span> 
			</div>
		</div>
		<div class="form-group">
			<label for="icon" class="col-sm-3 control-label">图标</label>
			<div class="col-sm-8">
				<input ng-model="permissionForm.icon" class="form-control" id="icon" name="icon" >
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-8">
				<button class="btn btn-default btn-lg" ng-click="closeThisDialog(0)">取消</button>
				<button class="btn btn-success btn-lg" ng-click="confirm(userAdmin)">保存</button>
			</div>
		</div>
	</form>
</div>