<div class="portlet-body">
    <div class="input-group search-content">
        <input type="text" class="form-control" placeholder="Search for..." ng-model="search.condition"
               ng-change="searchChange()">
               <span class="input-group-btn">
                  <button class="btn btn-info search-btn" type="button" ng-click="search()">搜索</button>
               </span>
               <span class="input-group-btn search-btn">
                  <button class="btn btn-info superior-btn" type="button" superior-dire="isSuperior">高级搜索</button>
               </span>
    </div>
    <div id="isSuperior" class="superior-content">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Username</label>
                    <div class="controls">
                        <input type="text" name="username" placeholder="Your nick here" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Password</label>
                    <div class="controls">
                        <input type="password" name="password" placeholder="Your password" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Retype Password</label>
                    <div class="controls">
                        <input type="password" name="password2" placeholder="Confirmed password" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Username</label>
                    <div class="controls">
                        <input type="text" name="username" placeholder="Your nick here" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Password</label>
                    <div class="controls">
                        <input type="password" name="password" placeholder="Your password" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group superior-commit">
                    <button class="btn btn-info superior-btn" type="button" ng-click="superior()">高级搜索</button>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-hover table-striped table-bordered  table-angular">
        <thead>
        <tr>
            <th class="active" ng-click="tableSort('one')">标题</th>
            <th class="active" ng-click="tableSort('two')">描述</th>
            <th class="active" ng-click="tableSort('three')">地址</th>
            <th class="active" ng-click="tableSort('Name')">开始时间</th>
            <th class="active" ng-click="tableSort('City')">结束时间</th>
            <th class="active" ng-click="tableSort('County')">电话</th>
            <th>修改</th>
            <th>删除</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="project in dataTable.data">
            <td><input ng-readonly="project.readControl" ng-class="{ 'not-edit': project.readControl}"
                       class="form-control read-control" ng-model="project.title"></td>
            <td><input ng-readonly="project.readControl" ng-class="{ 'not-edit': project.readControl}"
                       class="form-control read-control" ng-model="project.description"></td>
            <td><input ng-readonly="project.readControl" ng-class="{ 'not-edit': project.readControl}"
                       class="form-control read-control" ng-model="project.address"></td>
            <td><input ng-readonly="project.readControl" ng-class="{ 'not-edit': project.readControl}"
                       class="form-control read-control" ng-model="project.beginTime"></td>
            <td><input ng-readonly="project.readControl" ng-class="{ 'not-edit': project.readControl}"
                       class="form-control read-control" ng-model="project.endDatetime"></td>
            <td><input ng-readonly="project.readControl" ng-class="{ 'not-edit': project.readControl}"
                       class="form-control read-control" ng-model="project.tel"></td>
            <td>
                <button ng-show="project.readControl" type="button" class="btn btn-info btn-sm "
                        ng-click="tableEdit($index)">修改
                </button>
                <div ng-show="!project.readControl">
                    <button type="button" class="btn btn-success btn-sm " ng-click="tableSave(project,$index)">保存
                    </button>
                    <button type="button" class="btn btn-default btn-sm " ng-click="tableCancel($index)">取消
                    </button>
                </div>

            </td>
            <td>
                <button type="button" class="btn btn-primary btn-sm " ng-click="tableDelete(project.ID)">删除
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <p>显示第 {{currentPageStart()}} 条至 {{currentPageEnd()}} 条</p>
    <div class="text-right">
        <uib-pagination total-items="dataTable.totalLength" ng-model="dataTable.currentPage" max-size="5"
                        class="pagination"
                        boundary-links="true" force-ellipses="true" ng-change="pageChanged()"></uib-pagination>
    </div>
</div>
<abn-tree tree-data="tree.my_data" tree-control="tree.my_tree" on-select="tree.my_tree_handler(branch)" expand-level="2"
          initial-selection="Granny Smith"></abn-tree>