<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace：必须与对应的接口全类名一致 id:必须与对应接口的某个对应的方法名一致 -->
<mapper namespace="com.xinding.travel.mapper.UserStaticsMobileMapper">
    
    <select id="userStaticsList" parameterType="Map"  resultType="com.xinding.travel.pojo.UserStatics">
		select * from t_why_userstatistics
		<where>
		    <if test="deviceNo != null and deviceNo!='' ">
		    	and deviceNo like CONCAT('%','${deviceNo}','%' )
			</if>
		</where> 
		order by startTimestamp desc 
	</select>
    
	<insert id="add" parameterType="com.xinding.travel.pojo.UserStatics"  >
		insert t_why_userstatistics
		(
		deviceNo,
		lastLoginTime,
		startTimestamp
		) 
		values(
		#{deviceNo},
		#{lastLoginTime},
		#{startTimestamp}
		)
	</insert>
</mapper>